@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

html {
	height: 100%!important;
	overflow-x: hidden;
}

body {
	background: #9D00FF;
	background-attachment: fixed;
	margin: 0px;
	height: 100%!important;
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.header {
	height: 100%!important;
	padding-top: 100px;
	padding-left: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #FFF;
	margin-top: 0px!important;
	margin-bottom: 30px;
	text-align: center;
}

ul {
	text-align: center;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	list-style: none;
	margin: 0 auto 0 auto;
}

li {
	color: #FFF;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

input {
	background-color: #fff;
	border: solid 1.5px #4D1366;
	height: 50px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 400px;
	padding: 0px;
	color: #9D00FF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-indent: 30px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
}

::placeholder {
	color: #745680;
	font-family: 'Raleway', sans-serif;
}

input:focus, button:focus {
	outline: none;
}

.button-container {
	display: inline-block;
	position: relative;
}

button {
	cursor: pointer;
	position: relative;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: solid 1.5px #4D1366;
	background-color: #4D1366;
	padding: 0px;
	margin: 0px;
	color: #FFF;
	transition: all .3s cubic-bezier(.8,.03,.25,1);
	font-family: 'Raleway', sans-serif;
	vertical-align: top;
}

button:hover {
	width: 70px;
}

p {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 10px;
	opacity: 1;
}

.check, .cross {
	opacity: .5;
	margin-bottom: -5px;
	transition: opacity .3s cubic-bezier(.8,.03,.25,1);
	cursor: pointer;
}

.check:hover, .cross:hover {
	opacity: 1;
}

.check {
	margin-right: 10px;
}

.done {
	opacity: .5;
	text-decoration: line-through;
	font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 700px) {
	.header {
		padding-left: 0;
		padding-top: 50px;
	}
	input {
		width: 80%;
	}
}